<h1>/Item</h1>

<p>
  <b>Name</b><br>
  <%= @item.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @item.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', items_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>
  <%= link_to 'Delete', item_path(@item), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
